/*Variables*/
:root{
	/*Declaracion de variables*/
	--color-background-nav:linear-gradient(to right, rgb(210,210,210), white 45%);

	/*Margen derecho e izquierdo del contacto*/
	--MDC: 3%;
	--MIC: 42%;

	/*Anchura y Altura de la Imagen de diseño web*/
	--AnI: 48%;
	--AlI: 759px;

	/*Anchura del Section*/
	--AnS:52%;

	/*Margen de arriba del encabezado*/
	--MAE:17%;

	/*Margen de arriba, anchura  y altura de la descripcion*/
	--MTD: 8%;
	--AlD: 100%;
	--AnD: 68%;
}

/*Reset y estableciendo una fuente*/ 
*{ 
	margin: 0;
	padding: 0;
	font-family: "Calibri";
}

/*-----------------Navegador-----------------*/

/*Editar el navegador*/
header nav 
{
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	background: var(--color-background-nav);
	box-shadow: rgb(230,230,230) 0px 3px 2px;
	position: absolute;
}

/*Editar las listas del navegador*/
header nav ul { 
	list-style: none;
}

/*Editar las opciones del navegador*/
header nav ul li { 
	float: left;
	padding: 8px 8px 8px 8px;
	margin: 5px;
	display: block;
	font-family: "Atkinson";
}

/*Editando el logo del navegador*/
header nav ul li .Logo { 
	width: 25px;
	height: 25px;
	border-radius: 25px;
	padding-right: 3px;
	overflow: hidden;
	margin-top: 0;
	position:absolute;
}

/*Editando el boton principal del navegador*/
.Bogdan{ 
	margin-left: 30px;
	font-size: 18px;
}

/*el boton de contacto*/
.Contacto{ 
	padding-top: 11px;
	float: right;
	margin-left: var(--MIC);
	margin-right: var(--MDC);
}

/*------------------Section------------------*/

/*Imagen de Desarrollo Web*/
.IDW { 
	width: var(--AnI);
	height: var(--AlI);
	box-sizing: border-box;
	overflow: hidden;
	float: left;
	display: inline-block;
	max-width: 1000px;
	min-width: 100px;
}

/*Editando la section*/
section { 
	width: var(--AnS);
	max-width: 1000px;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}

/*Los articulos*/
section article{ 
	margin: 60px auto;
	width: 70%;
}

/*Editando el encabezado principal*/
h1{ 
	font-size: 55px;
}

/*Editando el subtitulo*/
section article h2{ 
	margin-top: 80px;
	width: 85%;
	font-size: 28px;
}

/*Editando la clase encabezado*/
.Encabezado{ 
	margin-top: var(--MAE);
}

/*Editando la descripcion*/
.Descripcion{ 
	width: var(--AnD);
	height: var(--AlD);
	font-size: 18px;
	margin-left: 15%;
	margin-top: var(--MTD);
}

/*Coloreando algunas de la descripcion*/
.LetrasAzules{ 
	color: rgb(0,100,255);
}

/*------------------Responsive Desing------------------*/

/*Si la pantalla llega a una anchura maxima de 1400px*/
/*Acomodar como tanto la descripcion, la foto y el contacto*/
@media screen and (max-width: 1400px){

	.Descripcion{
		--AlD: 40%;
	}

	.IDW{--AlI: 830px;}

	.Contacto{
		--MIC: 1%;
	}
}

/*Si la pantalla llega a una anchura maxima de 975px*/
/*Acomodar como tanto la foto, la seccion de informacion, el encabezado, y el contacto*/
@media screen and (max-width: 975px){ 
		
	.IDW{
		--AnI: 100%;
		--AlI: 100%;
	}

	section{--AnS: 100%;}

	.Encabezado{ --MAE:10%;}

	.Contacto{
		--MIC: 5%;
	}
}

/*Si la pantalla llega a una anchura maxima de 810px*/
/*Acomodar y darle animacion al contacto*/
@media screen and (max-width: 810px){
	.Contacto{
		--MIC: 1%;
		float: left;
		transition: all 0.2s ease;
	}
}

/*Si la pantalla llega a una anchura maxima de 770px*/
/*Acomodar la imagen para que la barra de navegacion no la tape*/
@media screen and (max-width: 770px){
	.IDW{
		margin-top: 10%;
		transition: all 0.2s ease;
	}
}

/*Si la pantalla llega a una anchura maxima de 1225px*/
/*Acomodar la imagen para que no lo tape la barra de navegacion, acomodar el contacto*/
@media screen and (max-width: 516px){
		
	.Contacto{
		float: right;
		margin-right: 47%;
		transition: all 0.2s ease;
	}

	.IDW{
		margin-top:27%;
		transition: all 0.2s ease;
	}
}