/*Variables*/
:root{
	/*Declaracion de variables*/
	--color-background-nav:linear-gradient(to right, rgb(210,210,210), white 45%);

	/*Margen derecho e izquierdo del contacto*/
	--MDC: 3%;
	--MIC: 42%;

	/*Anchura y Altura de la Imagen de diseño web*/
	--AnI: 48%;
	--AlI: 100%/*759px*/;

	/*Anchura del Section*/
	--AnS:52%;

	/*Margen de arriba del encabezado*/
	--MAE:15%;

	/*Margen de arriba, anchura  y altura de la descripcion*/
	--MTD: 8%;
	--AlD: 100%;
	--AnD: 68%;
}

/*Reset y estableciendo una fuente*/ 
*{ 
	margin: 0;
	padding: 0;
	font-family: "Calibri";
}

/*-----------------Dark Mode-----------------*/

/*Para activar el dark mode(por ahora porque no
sé usar javascript), se debe quitar los comentarios y listo xD*/

/*Fondo para el dark mode
body{
	background: rgb(28,28,28);
	color: white;
}*/

/*-----------------Navegador-----------------*/

/*Editar el navegador*/
header nav 
{
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	background: var(--color-background-nav);
	/*Fono Dark Mode
	background: linear-gradient(to right, rgb(150,150,150), rgb(40,40,40) 65%);
	/*sombra para el dark mode*/
	/*box-shadow: rgba(200,200,200,0.5) 0px 1px 2px;*/
	box-shadow: rgb(230,230,230) 0px 3px 2px;
	position: absolute;
	z-index: 3;
}

/*Editar las listas del navegador*/
header nav ul { 
	list-style: none;
}

/*Editar las opciones del navegador*/
header nav ul li { 
	float: left;
	padding: 8px 8px 8px 8px;
	margin: 5px;
	display: block;
	font-family: "Atkinson";
}

/*Editando el logo del navegador*/
header nav ul li .Logo { 
	width: 25px;
	height: 25px;
	border-radius: 25px;
	padding-right: 3px;
	overflow: hidden;
	margin-top: 0;
	position:absolute;
}

/*Editando el boton principal del navegador*/
.Bogdan{ 
	margin-left: 30px;
	font-size: 18px;
}

/*el boton de contacto*/
.Contacto{ 
	padding-top: 11px;
	float: right;
	margin-left: var(--MIC);
	margin-right: var(--MDC);
}

/*------------------Section------------------*/

/*Imagen de Desarrollo Web*/
.IDW { 
	width: var(--AnI);
	height: var(--AlI);
	background-image: url(img/desarrolloweb1.jpg);
	box-sizing: border-box;
	overflow: hidden;
	float: left;
	display: inline-block;
	max-width: 1000px;
	min-width: 100px;
	background-size: 100% 100%;
	position:absolute;
	z-index: 1;

	/*Animacion
	animation: nombre del animador, duracion de la misma, cuanto se repetira*/
	animation: Banner 13s infinite;
	/*Alternate hace que vaya a la ultima imagen y se regrese*/
	animation-direction: alternate;
}

/*Editando la section*/
section { 
	width: var(--AnS);
	max-width: 1000px;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
	position: absolute;
	z-index: 2;
	margin-left: 48%;
}

/*Los articulos*/
section article{ 
	margin: 60px auto;
	width: 70%;
}

/*Editando el encabezado principal*/
h1{ 
	font-size: 55px;
}

/*Editando el subtitulo*/
section article h2{ 
	margin-top: 80px;
	width: 85%;
	font-size: 28px;
}

/*Editando la clase encabezado*/
.Encabezado{ 
	margin-top: var(--MAE);
}

/*Editando la descripcion*/
.Descripcion{ 
	width: var(--AnD);
	height: var(--AlD);
	font-size: 18px;
	margin-left: 15%;
	margin-top: var(--MTD);
}

/*Coloreando algunas de la descripcion*/
.LetrasAzules{ 
	color: rgb(0,100,255);
}

/*------------------Responsive Desing------------------*/

/*Tamaño de Ipad*/
/*Si la pantalla llega a una anchura maxima de 770px*/
/*Acomodar la imagen para que la barra de navegacion no la tape*/
@media screen and (max-width: 768px){
	.IDW{
		margin-top: 10%;
		transition: all 0.2s ease;
		height: 50%;
		width: 100%
	}

	section {
		margin-left: 170px;
		margin-top: 580px;
		text-align: center;
	}

	.Contacto {
		float: right;
	}
}

/*Iphone 6/7/8*/
/*Si la pantalla llega a una anchura maxima de 810px*/
/*Acomodar y darle animacion al contacto*/
@media screen and (max-width: 375px){
	/*.Contacto{
		--MIC: 1%;
		float: left;
		transition: all 0.2s ease;
	}*/
	
	.IDW{
		margin-top:135px;
		width: 100%;
		z-index: 4;
	}

	section{
		margin-left: 0;
		margin-top: 465px;
		text-align: left;
	}
}

/*Galaxy S5*/
/*Si la pantalla llega a una anchura maxima de 360px que equivale a un Galaxy S5*/
/*Acomodar la imagen para que no lo tape la barra de navegacion, acomodar el contacto*/
@media screen and (max-width: 360px){
		
	header nav { width: 100%; }	

	.Contacto{
		float: right;
		margin-right: 47%;
		transition: all 0.2s ease;
	}

	.IDW{
		margin-top: 178px;
		transition: all 0.2s ease;
		width: 100%;
	}

	section {
		margin-top: 540px;
		margin-left: 15px;
	}
}

/*Animacion*/

@keyframes Banner{

	/*Desde el 0% hasta el 30% se presentara esta foto*/
	0%, 30% {
		opacity: 1;
		background-image: url(img/desarrolloweb1.jpg);
	}

	/*Desde el 31% hasta el 34% la opacidad bajará*/
	31%, 34% {
		opacity: 0.1;
	}

	/*Desde el 35% hasta el 65% se presentara con esta otra foto*/
	35%, 65% {
		opacity: 1;
		background-image: url(img/desarrolloweb2.jpg);
	}

	66%, 69% {
		opacity: 0.1;
	}

	/*Desde el 35% hasta el 65% se presentara con esta otra foto*/
	70%, 100% {
		opacity: 1;
		background-image: url(img/desarrolloweb3.jpg);
	}
}